<html>
   <body>
      <h1>Contact Program</h1>
      <h2>Choose an option:</h2> 
      <form action = "http://localhost:5000/view" id="view"></form>
      <form action = "http://localhost:5000/select" id="edit"></form>
      <form action = "http://localhost:5000/add" id="add"></form>
      <form action = "http://localhost:5000/delete" id="delete"></form>
      <input type = "submit" value = "View Saved Contacts" form="view">
      <input type="submit" value="Add Saved Contacts" form="add">
      <input type="submit" value="Edit Saved Contacts" form="edit">
      <input type="submit" value="Delete Saved Contacts" form="delete">
   </body>
</html>
